<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title><%= title %></title>
    <script type="text/javascript" src="javascripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
</script>
</head>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<button>登录 </button>
<a href="/register">注册</a>
</body>
</html>